
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container"><h4>
        <a>My Account Management</a></h4>
       <nav class="nav-left">
     <div class="w3-top text-box">
        <div class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium" id="myNavbar">
        
            
            <a href="/account/dashboard" class="w3-bar-item w3-button text-boxs" style="color: rgb(35, 6, 163);">HOME</a>
              <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-bar-item w3-button text-boxs" style="color:  rgb(35, 6, 163);"  ><i class="fa fa-user"></i> ABOUT</a>
               <a href="/contact" class="w3-bar-item w3-button w3-hide-small" style="color:  rgb(35, 6, 163);"  ><i class="fa fa-user"></i> CONTACT-US</a>
        </div>
      </div>
      </nav>
    </div>
</nav>
    

