<!DOCTYPE html>
<html>
<head>
 <%- include('partials/head') %>
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">

      <div class="col-md-5">
        <div class="card p-4">
          <h3 class="mb-3">Forgot Password</h3>

          <% if (typeof error !== 'undefined') { %>
          <div class="alert alert-danger"><%= error %></div>
          <% } %>

          <form method="POST" action="/forgot/send-otp">
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input class="form-control" name="email" placeholder="Enter your email" value="<%= email %>" required>
            </div>
            <button class="btn btn-primary">Send OTP</button>
          </form>
          
           <% if (showOtp) { %>
              <div class="mb-3">               
              <!-- Step 2: Enter OTP -->
              <form method="POST" action="/forgot/verify-otp">
                <input class="form-control" type="hidden" name="email" value="<%= email %>">
                <!-- <input name="otp" placeholder="Enter OTP" required> -->
                <input class="form-control" type="text" name="otp" placeholder="Enter OTP" required>
                <button class="btn btn-primary">Verify OTP</button>
              </form>
              </div>
            <% } %>
          
        <a href="/login">Back to Login</a>
        </div>
         
      </div>
    </div>
  </div>
  
</body>
</html>


